<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card card-body">
      <img src="/src/public/img/500error.png" alt="imagen-error">
      <p>{{error}}</p>
      <a href="/">Return to home</a>
    </div>
  </div>
</div>