<section class="card guia">
  <div class="card-body">
    <h1>Bienvenido</h1>
      <h2 class="text-primary"> Movies App NodeMongo</h2>
    <p>

Movie Center es una App web que fue esta siendo desarrollada con la idea de brindar un servicio de streaming online de peliculas, en el momento solamente se podran visualizar la cartelera de peliculas disponibles y podran guardar reviews en nuestra base de dato.

</p>
<h3>Guía de usuario:</h3>
<p>Podras navegar por la pagina de inicio y la seccion de guia pero para  poder dejar una review tendras que estar logueado ya que contamos con un sistema de autenticación. 
  <br>
  Para poder loguearte necesitaras una cuenta, la cual puedes crear en la seccion de registro, esta te pedira un mail y una contraseña. Para todo aquel que solamente este de paso y quiera probar la App puede utilizar la cuenta de prueba que tenemos.
  <br>
  
- email: <span>'test@localhost'</span>
<br>
- password: <span>'testpassword'</span>
<br>
Luego de loguearse se le activara un menu en el cual va a poder navegar por las distintas paginas de review.

  </p>
<h3>Instalación para developers </h3>
<p>
git clone https://github.com/MatiasCantero/proyectofinal
<br>
cd proyecto-final
<br>
npm i
<br>
npm run dev # run in development mode
<br>
npm start # run in production mode
    </p>
  </div>
</section>
