<footer class="bg-danger text-center text-white w-100">
        <!-- Grid container -->

            <!-- Section: Social media -->
           
                <!-- Facebook -->
                <a class="btn text-white btn-floating m-1" href="https://www.facebook.com/nanu.filth/" role="button"
                    target="_blank"><img src="/img/icons8-facebook-nuevo-40.png" alt="icono Facebook"></a>

                <!-- Twitter -->
                <a class="btn text-white btn-floating m-1" href="https://twitter.com/NanuFilth" role="button"
                    target="_blank"><img src="/img/icons8-twitter-40.png" alt=" icono Twitter"></a>


                <!-- Instagram -->
                <a class="btn text-white btn-floating m-1" href="https://www.instagram.com/nanu.filth/" role="button"
                    target="_blank"><img src="/img/icons8-instagram-40.png" alt="icono Instagram"></a>

                <!-- Linkedin -->
                <a class="btn text-white btn-floating m-1" href="https://www.linkedin.com/in/matias-nahuel-cantero-145132254/" role="button" target="_blank"><img
                        src="/img/icons8-linkedin-rodeado-de-círculo-40.png" alt="icono Linkedin"></a>
                <!-- Github -->
                <a class="btn text-white btn-floating m-1" href="https://github.com/MatiasCantero" role="button"
                    target="_blank"><img src="/img/icons8-github-40.png" alt="icono Github"></a>
            <!-- Section: Social media -->
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3">
            © 2022 Copyright: Matias Nahuel Cantero - Edicacion IT
        </div>
        <!-- Copyright -->
    </footer>