<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Movies App</title>
	<link rel="icon" href="/img/icons8-movies-tv-16.png">
    <!-- BOOTSTRAP - BOOTSWATCH THEME - COSMOS -->
    <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">    
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <meta name="keywords" content="movies, streaming, online, peliculas,cine,">
    <meta name="description" content="Movie center, una app web destinada al entretenimiento online">
    <meta name="author" content="Matias Cantero">
  </head>
  <body>

    {{> navigation }}

    <main class="container p-5">

      {{{ body }}}
    </main>
      {{> footer }}
    <!-- Scritps -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
